.main-page{
    display: flex;
    flex-direction: row;
    height: 100vh;
}






.left-panel {
    width: 20%;
	background-color: rgb(20, 19, 19);
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.left-panel-logo {
    background-color: transparent;
    width: 70%;
    
}

.left-panel-menu{
    display: flex;
    height: 40%;
    flex-direction: column;
    align-items: center;
	
}

.left-panel-menu button{
    border: none;
    color: white;
    display: flex;
    align-items: center;
    background-color: transparent; /* Make the button background transparent */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
} 

.left-panel-menu button:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly darken on hover */
}

.left-panel-menu button img{
    width: 25px;
    margin-right: 10px;
}

.left-panel-discover{
    height: 10%;

}

.left-panel-yourcollection {
    height: 10%;
    
}

.left-panel-general{
    display: flex;
    height: 20%;
    flex-direction: column;
    align-items: center;
	text-align: center;
    
}

.left-panel-general button{
    border: none;
    color: white;
    display: flex;
    align-items: center;
    background-color: transparent; /* Make the button background transparent */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.left-panel-general button:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly darken on hover */
}

.left-panel-general button img{
    width: 25px;
    margin-right: 10px;
}







.center-panel{
    width: 60%;
    background: linear-gradient(to bottom, rgb(46, 43, 43), rgb(82, 29, 29));
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.center-panel-topbar{
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
	text-align: left;
    margin-left: 0;
}

.center-panel-topbar-topbutton{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.center-panel-topbar-topbutton button{
    border: none;
    color: white;
    align-items: center;
    background-color: transparent; /* Make the button background transparent */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.center-panel-topbar-searchbar{
    width: 30%;
    
}

.center-panel-topbar-searchbar-input{
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    height: 30px;
    border-radius: 30px;
    color: white;
}

.center-panel-topbar-searchbar button{
    border: none;
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2); /* Make the button background transparent */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.center-panel-artistpicture{
    width: 90%;
    height: 35%;
    border: 3px solid;
    margin-top: 5%;
    border-radius: 25px;
}

.center-panel-playlist{
    height: 50%;
    width: 100%;
    
    margin-top: 2%;
    overflow: scroll;
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    
}
.center-panel-playlist table{
    width: 100%;
    font-size: medium;
    
}
.center-panel-playlist table thead {
    position: sticky;
    z-index: 1;
    top: 0;
}

.center-panel-playlist table th{
    height: 20px;
    font-weight: bold;
    background-color: rgb(46, 12, 12);
}
.center-panel-playlist table tr{
    height: 25px;
}

.center-panel-playlist table th,.center-panel-playlist table td{
    padding: 12px 15px;
}

.center-panel-playlist table th:nth-child(1),
.center-panel-playlist table td:nth-child(1) {
    width: 30px; /* Fixed width for first column */
}

.center-panel-playlist table td:nth-child(1) button{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.center-panel-playlist table td:nth-child(1) button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.center-panel-playlist table th:nth-child(2),
.center-panel-playlist table td:nth-child(2) {
    width: 40px; /* Fixed width for second column */
}

.center-panel-playlist table th:nth-child(3),
.center-panel-playlist table td:nth-child(3) {
    width: 40px; /* Fixed width for third column */
}

.center-panel-playlist table th:nth-child(4),
.center-panel-playlist table td:nth-child(4) {
    width: 40px; /* Fixed width for third column */
}

.center-panel-playlist table th:nth-child(5),
.center-panel-playlist table td:nth-child(5) {
    width: 40px; /* Fixed width for third column */
}

.center-panel-playlist table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}

.center-panel-playlist table::-webkit-scrollbar {
    width: 20px; /* Adjust the width of the scrollbar */
}
.center-panel-playlist:-webkit-scrollbar-track {
    background: transparent; /* Transparent background for the track */
 }

.center-panel-playlist table::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Slightly visible thumb */
    border-radius: 10px; /* Rounded corners */
  }


.center-panel-playlist table::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); /* Darker on hover */
  }



























.right-panel{
    width: 30%;
    background: linear-gradient(to bottom, rgb(44, 16, 16),rgb(46, 43, 43));
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.right-panel-notification{
    height: 25%;
    width: 80%;
    margin: 5%;
    border-radius: 15px;
    border: 3px solid;
}

.right-panel-recentplaylist{
    height: 35%;
    width: 80%;
    margin: 5%;
    border-radius: 15px;
    border: 3px solid;
}

.right-panel-playcard{
    
    background-color: rgb(150, 19, 19);
    width: 80%;
    margin: 5%;
    border-radius: 15px;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.right-panel-playcard-statusbar{
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.right-panel-playcard-picture{
    height: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.right-panel-playcard-picture img{
    height: 100%;
    width: 100%;
}

.right-panel-playcard-slider {
    width: 80%;
    height: 10%;
    justify-content: center;
}


.right-panel-playcard-controls{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
}
.right-panel-playcard-controls button{
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    width: 45px;
    height: 45px;
    font-size: large;
    cursor: pointer;
}
.right-panel-playcard-controls button:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
    